.login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}