<section class="pics">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="button-file">
          <button mat-stroked-button color="primary">
            <mat-icon>insert_photo</mat-icon> Subir Nueva Imágen
          </button>
          <input type="file" (change)="fileChangeEvent($event)" accept=".pdf">
        </div>
        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2 pics" *ngFor="let item of Files">
        <mat-icon mat-list-icon color="primary">picture_as_pdf</mat-icon>
        <small>{{ item.name }}</small>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon" color="primary" (click)="copyUrl(item.url)">file_copy</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>